/* line 4, ../_sass/DC_UI_Kit/partials/_button.scss */
.btn, .btn-round {
  text-align: center;
  display: inline-block;
  color: white;
  background-color: #00b0ed;
  padding: 0.18em 1.2em;
  font-size: 0.85em;
}
/* line 64, ../_sass/DC_UI_Kit/partials/_mixin.scss */
.btn:hover, .btn-round:hover {
  opacity: 0.8;
}
/* line 67, ../_sass/DC_UI_Kit/partials/_mixin.scss */
.btn:active, .btn-round:active {
  color: #0f7395;
  opacity: 1;
}
/* line 13, ../_sass/DC_UI_Kit/partials/_button.scss */
.btn.disabled, .btn-round.disabled {
  background-color: #dcddde;
  color: #65656a;
}

/* line 19, ../_sass/DC_UI_Kit/partials/_button.scss */
.btn {
  border-radius: 5px;
}

/* line 23, ../_sass/DC_UI_Kit/partials/_button.scss */
.btn-round {
  border-radius: 14.5px;
}

/* line 27, ../_sass/DC_UI_Kit/partials/_button.scss */
.btn-large {
  padding: 0.5em 2em;
  font-size: 2.3em;
}
/* line 31, ../_sass/DC_UI_Kit/partials/_button.scss */
.btn-large.btn {
  border-radius: 5px;
}

/* line 36, ../_sass/DC_UI_Kit/partials/_button.scss */
.btn-striking {
  background-color: #f38546;
}

/* line 17, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 2, ../_sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 61, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 87.5%;
}

/* line 64, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 14px;
  line-height: 1.71429em;
}

@font-face {
  font-family: 'avenir';
  src: url("/fonts/avenir-book.eot");
  src: url("/fonts/avenir-book.eot?#iefix") format("eot"), url("/fonts/avenir-book.woff") format("woff"), url("/fonts/avenir-book.ttf") format("truetype"), url("/fonts/avenir-book.svg#f67fa3b5-c1d1-488f-8e60-a828b9ad56a4") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'avenir';
  src: url("/fonts/avenir-book-oblique.eot");
  src: url("/fonts/avenir-book-oblique.eot?#iefix") format("eot"), url("/fonts/avenir-book-oblique.woff") format("woff"), url("/fonts/avenir-book-oblique.ttf") format("truetype"), url("/fonts/avenir-book-oblique.svg#c7f424be-90e1-45b8-b617-ee3589a859bd") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'avenir';
  src: url("/fonts/avenir-medium.eot");
  src: url("/fonts/avenir-medium.eot?#iefix") format("eot"), url("/fonts/avenir-medium.woff") format("woff"), url("/fonts/avenir-medium.ttf") format("truetype"), url("/fonts/avenir-medium.svg#294099f3-8d00-4676-afc5-5e9d8d43ad69") format("svg");
  font-weight: bold;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'avenir';
    src: url("/fonts/avenir-medium.svg#294099f3-8d00-4676-afc5-5e9d8d43ad69") format("svg");
}
}
/* line 53, ../_sass/DC_UI_Kit/partials/_font.scss */
body {
  font-family: 'avenir', arial, sans-serif;
  color: #65656a;
  font-weight: 300;
}
/* line 59, ../_sass/DC_UI_Kit/partials/_font.scss */
body p, body input, body i, body label, body header, body footer, body li, body td, body th, body article, body section, body small {
  color: #65656a;
  font-weight: 300;
}

/* line 65, ../_sass/DC_UI_Kit/partials/_font.scss */
h1 {
  font-size: 4em;
}

/* line 69, ../_sass/DC_UI_Kit/partials/_font.scss */
h2 {
  font-size: 3em;
}

/* line 73, ../_sass/DC_UI_Kit/partials/_font.scss */
h3 {
  font-size: 2.5em;
}

/* line 77, ../_sass/DC_UI_Kit/partials/_font.scss */
h4 {
  font-size: 1.5em;
}

/* line 81, ../_sass/DC_UI_Kit/partials/_font.scss */
h5 {
  font-size: 1.28em;
}

/* line 85, ../_sass/DC_UI_Kit/partials/_font.scss */
h6 {
  font-size: 14px;
}

/* line 89, ../_sass/DC_UI_Kit/partials/_font.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin-bottom: 0;
  line-height: 1.2em;
}

/* line 95, ../_sass/DC_UI_Kit/partials/_font.scss */
p {
  margin-bottom: 1.71429em;
  font-size: 1em;
  line-height: 1.2em;
}
/* line 97, ../_sass/DC_UI_Kit/partials/_font.scss */
p:last-child {
  margin-bottom: 0;
}

/* line 104, ../_sass/DC_UI_Kit/partials/_font.scss */
a {
  color: #00b0ed;
  text-decoration: none;
  font-size: 1em;
}
/* line 64, ../_sass/DC_UI_Kit/partials/_mixin.scss */
a:hover {
  opacity: 0.8;
}
/* line 67, ../_sass/DC_UI_Kit/partials/_mixin.scss */
a:active {
  color: #0f7395;
  opacity: 1;
}

/* line 112, ../_sass/DC_UI_Kit/partials/_font.scss */
em, i {
  font-style: italic;
}

/* line 116, ../_sass/DC_UI_Kit/partials/_font.scss */
strong, b {
  font-weight: bold;
}

/* line 120, ../_sass/DC_UI_Kit/partials/_font.scss */
.lead {
  font-size: 1.5em;
  line-height: 125%;
}

/* line 3, ../_sass/DC_UI_Kit/partials/_error.scss */
.validation_error {
  position: absolute;
  background: rgba(220, 97, 52, 0.8);
  font-size: 12px;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(153, 153, 153, 0.5);
  white-space: nowrap;
}
/* line 13, ../_sass/DC_UI_Kit/partials/_error.scss */
.validation_error .validation_container {
  position: relative;
  padding: 3px 6px;
}
/* line 17, ../_sass/DC_UI_Kit/partials/_error.scss */
.validation_error .validation_x {
  margin: 2px auto -2px auto;
}
/* line 20, ../_sass/DC_UI_Kit/partials/_error.scss */
.validation_error .arrow {
  position: absolute;
  top: 7px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid rgba(220, 97, 52, 0.8);
}

/* line 10, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.col-1 {
  display: block;
  float: left;
  margin-right: 1.65289%;
  width: 6.81818%;
}
/* line 63, ../_sass/neat/grid/_grid.scss */
.col-1:last-child {
  margin-right: 0;
}

/* line 10, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.col-2 {
  display: block;
  float: left;
  margin-right: 1.65289%;
  width: 15.28926%;
}
/* line 63, ../_sass/neat/grid/_grid.scss */
.col-2:last-child {
  margin-right: 0;
}

/* line 10, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.col-3 {
  display: block;
  float: left;
  margin-right: 1.65289%;
  width: 23.76033%;
}
/* line 63, ../_sass/neat/grid/_grid.scss */
.col-3:last-child {
  margin-right: 0;
}

/* line 10, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.col-4 {
  display: block;
  float: left;
  margin-right: 1.65289%;
  width: 32.2314%;
}
/* line 63, ../_sass/neat/grid/_grid.scss */
.col-4:last-child {
  margin-right: 0;
}

/* line 10, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.col-5 {
  display: block;
  float: left;
  margin-right: 1.65289%;
  width: 40.70248%;
}
/* line 63, ../_sass/neat/grid/_grid.scss */
.col-5:last-child {
  margin-right: 0;
}

/* line 10, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.col-6 {
  display: block;
  float: left;
  margin-right: 1.65289%;
  width: 49.17355%;
}
/* line 63, ../_sass/neat/grid/_grid.scss */
.col-6:last-child {
  margin-right: 0;
}

/* line 10, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.col-7 {
  display: block;
  float: left;
  margin-right: 1.65289%;
  width: 57.64463%;
}
/* line 63, ../_sass/neat/grid/_grid.scss */
.col-7:last-child {
  margin-right: 0;
}

/* line 10, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.col-8 {
  display: block;
  float: left;
  margin-right: 1.65289%;
  width: 66.1157%;
}
/* line 63, ../_sass/neat/grid/_grid.scss */
.col-8:last-child {
  margin-right: 0;
}

/* line 10, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.col-9 {
  display: block;
  float: left;
  margin-right: 1.65289%;
  width: 74.58678%;
}
/* line 63, ../_sass/neat/grid/_grid.scss */
.col-9:last-child {
  margin-right: 0;
}

/* line 10, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.col-10 {
  display: block;
  float: left;
  margin-right: 1.65289%;
  width: 83.05785%;
}
/* line 63, ../_sass/neat/grid/_grid.scss */
.col-10:last-child {
  margin-right: 0;
}

/* line 10, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.col-11 {
  display: block;
  float: left;
  margin-right: 1.65289%;
  width: 91.52893%;
}
/* line 63, ../_sass/neat/grid/_grid.scss */
.col-11:last-child {
  margin-right: 0;
}

/* line 10, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.col-12 {
  display: block;
  float: left;
  margin-right: 1.65289%;
  width: 100%;
}
/* line 63, ../_sass/neat/grid/_grid.scss */
.col-12:last-child {
  margin-right: 0;
}

/* line 16, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
[class*=col-]:last-child {
  margin-right: 0;
}

/* line 22, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.shift-1 {
  margin-left: 8.47107%;
  display: inline-block;
  float: none;
}

/* line 27, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.shift-1-reverse {
  margin-left: -8.47107%;
  display: inline-block;
  float: none;
}

/* line 22, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.shift-2 {
  margin-left: 16.94215%;
  display: inline-block;
  float: none;
}

/* line 27, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.shift-2-reverse {
  margin-left: -16.94215%;
  display: inline-block;
  float: none;
}

/* line 22, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.shift-3 {
  margin-left: 25.41322%;
  display: inline-block;
  float: none;
}

/* line 27, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.shift-3-reverse {
  margin-left: -25.41322%;
  display: inline-block;
  float: none;
}

/* line 22, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.shift-4 {
  margin-left: 33.8843%;
  display: inline-block;
  float: none;
}

/* line 27, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.shift-4-reverse {
  margin-left: -33.8843%;
  display: inline-block;
  float: none;
}

/* line 22, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.shift-5 {
  margin-left: 42.35537%;
  display: inline-block;
  float: none;
}

/* line 27, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.shift-5-reverse {
  margin-left: -42.35537%;
  display: inline-block;
  float: none;
}

/* line 22, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.shift-6 {
  margin-left: 50.82645%;
  display: inline-block;
  float: none;
}

/* line 27, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.shift-6-reverse {
  margin-left: -50.82645%;
  display: inline-block;
  float: none;
}

/* line 22, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.shift-7 {
  margin-left: 59.29752%;
  display: inline-block;
  float: none;
}

/* line 27, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.shift-7-reverse {
  margin-left: -59.29752%;
  display: inline-block;
  float: none;
}

/* line 22, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.shift-8 {
  margin-left: 67.7686%;
  display: inline-block;
  float: none;
}

/* line 27, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.shift-8-reverse {
  margin-left: -67.7686%;
  display: inline-block;
  float: none;
}

/* line 22, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.shift-9 {
  margin-left: 76.23967%;
  display: inline-block;
  float: none;
}

/* line 27, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.shift-9-reverse {
  margin-left: -76.23967%;
  display: inline-block;
  float: none;
}

/* line 22, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.shift-10 {
  margin-left: 84.71074%;
  display: inline-block;
  float: none;
}

/* line 27, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.shift-10-reverse {
  margin-left: -84.71074%;
  display: inline-block;
  float: none;
}

/* line 22, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.shift-11 {
  margin-left: 93.18182%;
  display: inline-block;
  float: none;
}

/* line 27, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.shift-11-reverse {
  margin-left: -93.18182%;
  display: inline-block;
  float: none;
}

/* line 34, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.input {
  border: solid 1px #dcddde;
  padding: 5px;
  display: inline-block;
  margin-right: 10px;
}

/* line 41, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.hide {
  display: none;
}

/* line 45, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.content {
  zoom: 1;
  max-width: 1280px;
  min-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
  background-color: white;
}
/* line 18, ../_sass/bourbon/addons/_clearfix.scss */
.content:before, .content:after {
  content: "";
  display: table;
}
/* line 23, ../_sass/bourbon/addons/_clearfix.scss */
.content:after {
  clear: both;
}

/* line 51, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.shell {
  zoom: 1;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
/* line 18, ../_sass/bourbon/addons/_clearfix.scss */
.shell:before, .shell:after {
  content: "";
  display: table;
}
/* line 23, ../_sass/bourbon/addons/_clearfix.scss */
.shell:after {
  clear: both;
}

/* line 55, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.icon {
  display: inline-block;
  vertical-align: middle;
}

/* line 60, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.icon-info {
  cursor: pointer;
}

/* line 64, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.pull-left {
  float: left;
}

/* line 68, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.pull-right {
  float: right;
}

/* line 72, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.inline-block {
  display: inline-block;
}

/* line 78, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.lt-ie9 .content {
  filter: progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=2, Direction=90), progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=2, Direction=180), progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=2, Direction=270);
}
/* line 85, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.lt-ie9 .last {
  margin-right: 0 !important;
}

/* line 90, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.message-bar {
  display: none;
  height: 34px;
  overflow: hidden;
}
/* line 95, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.message-bar * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 99, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.message-bar ul {
  margin: 0;
  padding: 0;
}
/* line 103, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.message-bar ul li {
  list-style: none;
}
/* line 108, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.message-bar .message {
  height: 34px;
  line-height: 34px;
  color: white;
  font-size: 11pt;
}
/* line 114, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.message-bar .message .text {
  float: left;
  width: 812px;
  padding-left: 1em;
}
/* line 119, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.message-bar .message .cta {
  float: left;
  width: 100px;
  text-align: center;
  margin-left: 2px;
}
/* line 125, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.message-bar .message .close {
  float: left;
  width: 34px;
  text-align: center;
  margin-left: 2px;
}
/* line 132, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.message-bar .message.message-success .text, .message-bar .message.message-success .cta, .message-bar .message.message-success .close {
  background-color: #5acaed;
  background-color: rgba(90, 202, 237, 0.8);
}
/* line 136, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.message-bar .message.message-success .cta:hover, .message-bar .message.message-success .close:hover {
  background-color: #5acaed;
  cursor: pointer;
}
/* line 140, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.message-bar .message.message-error .text, .message-bar .message.message-error .cta, .message-bar .message.message-error .close {
  background-color: #dc6134;
  background-color: rgba(220, 97, 52, 0.8);
}
/* line 144, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.message-bar .message.message-error .cta:hover, .message-bar .message.message-error .close:hover {
  background-color: #dc6134;
  cursor: pointer;
}
/* line 148, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.message-bar .message.message-warning .text, .message-bar .message.message-warning .cta, .message-bar .message.message-warning .close {
  background-color: #f38546;
  background-color: rgba(243, 133, 70, 0.8);
}
/* line 152, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.message-bar .message.message-warning .cta:hover, .message-bar .message.message-warning .close:hover {
  background-color: #f38546;
  cursor: pointer;
}
/* line 156, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.message-bar .message.message-info .text, .message-bar .message.message-info .cta, .message-bar .message.message-info .close {
  background-color: #0372b0;
  background-color: rgba(3, 114, 176, 0.8);
}
/* line 160, ../_sass/DC_UI_Kit/_DC_UI_Kit.scss */
.message-bar .message.message-info .cta:hover, .message-bar .message.message-info .close:hover {
  background-color: #0372b0;
  cursor: pointer;
}

/* line 4, ../_sass/DC_UI_Kit.scss */
h1, h2, h3, h4, h5, h6 {
  clear: both;
}

/* line 8, ../_sass/DC_UI_Kit.scss */
body {
  background-color: #fcfcfc;
  padding-bottom: 40px;
}

/* line 13, ../_sass/DC_UI_Kit.scss */
section {
  clear: both;
  margin-bottom: 20px;
}

/* line 18, ../_sass/DC_UI_Kit.scss */
.sidebar {
  padding: 0;
  background-color: #f3f3f3;
}
/* line 22, ../_sass/DC_UI_Kit.scss */
.sidebar .nav a {
  padding-left: 35px;
}

/* line 27, ../_sass/DC_UI_Kit.scss */
.jumbotron {
  background-color: #00b0ed;
  color: white;
  margin-bottom: 0;
}

/* line 33, ../_sass/DC_UI_Kit.scss */
.center {
  text-align: center;
}

/* line 38, ../_sass/DC_UI_Kit.scss */
#palette .circle {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin: 10px auto;
}

/* line 48, ../_sass/DC_UI_Kit.scss */
#grid .bs-example [class*=col-] {
  background-color: #dcddde;
  padding: 10px;
}
