//
// Variables
// --------------------------------------------------

// Global values
// --------------------------------------------------

// grid values
// --------------------------------------------------
@column: 66px;
@gutter: 16px;
@grid-columns: 12;
@wrapper-width: 1279px;

@max-width: (@column * @grid-columns) + (@gutter * (@grid-columns + 1)); // 1000px
@content-width: (@column * @grid-columns) + (@gutter * (@grid-columns - 1)); // 968px

//
// Color Swatches
// --------------------------------------------------
@blue-digital:   #00b0ed;   
//shadow of blue & gray
@heavy-raindrop: #004e76;
@raindrop:       #0372b0;
@backdrop:       #939598;

@heavy-dewdrop:  #5acaed;
@dewdrop:        #c3e7ef;
@airdrop:        #dcddde;
//cheery accent 
@heavy-gumdrop:  #dc6134;
@gumdrop:        #f38546;
@lemondrop:      #ffef94;

@white:          #f9f9f9;

// Main Colors
// -------------------------
//primary btns
@blue:          @blue-digital; 
@blue-hover:    #5ccdf3;
//@blue-active:    #5ccdf3;
@blue-shadow:   #4a77b8;

//strong btns
@orange: #E6762E;
@orange-active: #c95205;
@orange-hover: #fb8c44;
@orange-shadow: #a84302;

@base:             #4a4a4a;
@firm:             @base;

@gray:             @base;
@lightgray:        @base;
@inverse:          white;

@success:          @base;
@danger:           @base;
@warning:          @base;
@info:             @base;

@link-color:       @base;
@link-hover-color: @base;


// Typography
// -------------------------
@base-font-family: "avenir", arial, sans-serif;
@base-font-size: 14px;
@base-line-height: 1.43em;

@h1: 48px;
@h2: 38px; 
@h3: 32px;
@h4: 24px;
@h5: 20px;


// Icons
@icon-normal: 16px;
@icon-medium: 18px;
@icon-large:  32px;

// Inputs
// -------------------------
@input-border-radius: 6px;

// Pagination
// -------------------------
@pagination-color: mix(@base, white, 20%);

// Pager
// -------------------------
@pager-padding: 9px 15px 10px;

// Buttons
@btn-depth:             2px;
@btn-large-depth:       5px;

/*** not used ***/
@button-text:           @inverse;
@button-hover:          mix(@lightgray, white, 80%);
@button-active:         mix(@lightgray, black, 85%);
@button-primary-hover:  mix(@firm, white, 80%);
@button-primary-active: mix(@firm, black, 85%);
@button-info-hover:     mix(@info, white, 80%);
@button-info-active:    mix(@info, black, 85%);
@button-success-hover:  mix(@success, white, 80%);
@button-success-active: mix(@success, black, 85%);
@button-danger-hover:   mix(@danger, white, 80%);
@button-danger-active:  mix(@danger, black, 85%);
@button-warning-hover:  overlay(@warning, darken(white, 37.5%));
@button-warning-active: mix(@warning, black, 85%);
@button-inverse-hover:  overlay(@base, darken(white, 37.5%));
@button-inverse-active: mix(@base, black, 85%);


// Navbar
// -------------------------
@navbar-link-space:    20px;
@navbar-sublink-space: 9px;

// Dropdown Menu
// -------------------------
@dropdown-background: mix(@inverse, @base, 94%);

// Progress/slider
// -------------------------
@progress-height: 12px;

// Switch
// -------------------------
@switch-border-radius: 30px;
@switch-width: 80px;

