@import "DC_UI_Kit/DC_UI_Kit";

//this website specific css
body {
  background-color: $body-bg;
}

section {
	clear: both;
}

.sidebar {
	padding: 0;
	background-color: $user-content-bg;
}

.jumbotron {
	background-color: $blue-digital;
	color: white;
	margin-bottom: 0;
}

.center {
	text-align: center;
}

#palette {
	.circle {
		height: 50px;
		width: 50px;
		border-radius: 25px;
	}
}