$blue-digital:   #00b0ed;   

$heavy-raindrop: #004e76;  //dark blue
$raindrop:       #0372b0;  //secodary dark blue
$backdrop:       #939598;  //gray

$heavy-dewdrop:  #5acaed;  //light blue
$dewdrop:        #c3e7ef;  //secodary light blue
$airdrop:        #dcddde;  //light gray

$heavy-gumdrop:  #dc6134;  //orange
$gumdrop:        #f38546;  //light orange
$lemondrop:      #ffef94;  //yellow

$white:          #f9f9f9;
$gray:           #ebebeb;
$dark_gray:      #65656a;
$black:          #4a4a4a;

$body-bg:        #fcfcfc;
$user-content-bg: #f3f3f3;
$menu-hover-color: #cfecf2;
$font-color:     $dark_gray;

//TODO: deprecated;
$dark-blue: #00b0ed;
$dark-blue-secondary: #2678ba;
$shadow-blue: #4a77b8;
$light-blue: #5ccdf3;
$light-blue-secondary: #92cdf4;
$light-green: #f1f3f3;
$light-gray: #e8e9e9;
$input-border-color: rgba(82, 168, 236, 0.8);
$input-outter-shadow: rgba(82, 168, 236, 0.6);
$input-inner-shadow: rgba(0, 0, 0, 0.075);
